<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="saveTabIndex($event)">
  <mat-tab label="Schedule Bookmark">
    <section class="section-form form-section-no-card">
      <app-schedule-bookmark-form
        [form]="form"
        (submitForm)="onSubmit()"
        (captureUrl)="captureCurrentTabUrl()">
      </app-schedule-bookmark-form>
    </section>
  </mat-tab>
  <mat-tab label="List Events">
    <section class="section-form form-section-no-card" style="height: 100%;">
      <ng-container *ngIf="events.length > 0; else noEvents">
        <app-list-events
          [events]="events"
          (edit)="editEvent($event)"
          (delete)="deleteEvent($event)">
        </app-list-events>
      </ng-container>
      <ng-template #noEvents>
        <div class="no-events">
          <mat-icon color="warn" style="font-size: 40px;">info</mat-icon>
          <p>No events scheduled yet.</p>
        </div>
      </ng-template>
    </section>
  </mat-tab>
</mat-tab-group>
